DB_URL=jdbc:mysql://localhost:3307/retro_bazar?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Europe/Madrid
DB_USERNAME=root
DB_PASSWORD=retro_bazar_local
FRONTEND_ORIGIN=http://localhost:4200
